--indent 3
--line-length 132
--whitespace 4
--whitespace-comma=True
--whitespace-assignment=True
--whitespace-decl=True
--whitespace-relational=True
--whitespace-logical=True
--whitespace-plusminus=True
--whitespace-multdiv=True
--whitespace-print=True
--whitespace-type=True
--whitespace-intrinsics=True
--enable-decl
--c-relations
--enable-replacements
--case = [1,1,1,1]
